body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo img {
    width: 100px; /* Adjust size as needed */
}

.order-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.order-button:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coffee-section {
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    font-size: 20px;    
    margin-bottom: 10px;
}
body {
    background-color: black;
}
/* Style for Login / Sign Up button */
.login-signup-container {
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
}

.login-signup-btn {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-signup-btn:hover {
    background-color: orange;
    color: white;
}
.navbar-nav .nav-link {
    font-size: 30px; /* Adjust the font size as needed */
}
.mt-custom {
    margin-top: -300px; /* Adjust the value as needed */
}
.smaller-text h2 {
    font-size: 25px; /* Adjust the font size as needed */
}
.custom-btn {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Adjust spacing between buttons and text */
}

.custom-btn:hover {
    background-color: orange;
    color: white;
}







